@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url(https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap);
@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css);
work-sans-heading, body h2 {
  font-weight: 700;
  font-style: normal;
  font-family: "Work Sans", sans-serif;
}

roboto-font, body button, body {
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto", sans-serif;
}

flex-row, .flex-row {
  display: flex;
  flex-direction: row;
}

flex-wrap-row, .flex-wrap-row, .flex-wrap-row-align-items-center-justify-space-evenly, .flex-wrap-row-align-items-center-justify-space-between, .flex-wrap-row-align-items-end, .flex-wrap-row-justify-center, .flex-wrap-row-justify-space-around, .flex-wrap-row-justify-space-between, .flex-wrap-row-justify-space-evenly {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

flex-wrap-reversed-row, .flex-wrap-reversed-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.flex-wrap-row-justify-space-evenly {
  justify-content: space-evenly;
}

.flex-wrap-row-justify-space-between {
  justify-content: space-between;
}

.flex-wrap-row-justify-space-around {
  justify-content: space-around;
}

.flex-wrap-row-justify-center {
  justify-content: center;
}

.flex-wrap-row-align-items-end {
  align-items: flex-end;
}

.flex-wrap-row-align-items-center-justify-space-between {
  align-items: center;
  justify-content: space-between;
}

.flex-wrap-row-align-items-center-justify-space-evenly {
  align-items: center;
  justify-content: space-evenly;
}

flex-column, .flex-column {
  display: flex;
  flex-direction: column;
}

flex-wrap-column, .flex-wrap-column, .flex-wrap-column-align-content-center-justify-space-evenly, .flex-wrap-column-align-items-center, .flex-wrap-column-align-content-center {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

flex-wrap-reversed-column, .flex-wrap-reversed-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}

.flex-wrap-column-align-content-center {
  align-content: center;
}

.flex-wrap-column-align-items-center {
  align-items: center;
}

.flex-wrap-column-align-content-center-justify-space-evenly {
  align-content: center;
  justify-content: space-evenly;
}

.flex-justify-center {
  display: flex;
}

.flex-justify-center {
  justify-content: center;
}

.grid-news-container {
  gap: 1em;
  display: grid;
  margin-block: 2em;
  inline-size: 100%;
}

.grid-news-container {
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
}

.col {
  inline-size: 25em;
}

* {
  box-sizing: border-box;
  writing-mode: horizontal-tb;
}

body {
  font-size: 1em;
}
body button {
  padding: 1em;
}

main {
  margin-block: 1em;
  padding-block: 4em;
}

header div {
  inline-size: 100%;
}

button {
  cursor: pointer;
}

.nav-item {
  margin-inline-start: 0.9em;
}

.logo-container {
  inline-size: 10vw;
  margin-inline-end: 0.9em;
}
.logo-container :nth-child(1) {
  justify-content: flex-start;
}

article {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  inline-size: 50vw;
  text-align: justify;
}
article img.banner-image {
  inline-size: 10vw;
}
article img.article-image {
  block-size: 22vh;
  inline-size: 24vw;
}

section {
  inline-size: 100%;
}

.banner {
  padding: 1em;
  border: 1px solid black;
}

.is-31 {
  inline-size: 31vw;
}

.is-60 {
  inline-size: 37em;
}

.is-100 {
  inline-size: 100%;
}

article.news-banner {
  margin-block: 2em;
}

.relative {
  position: relative;
  bottom: 21em;
}

.carousel-inner {
  inline-size: 45em;
}/*# sourceMappingURL=index.css.map */