# Logs

*.log


.DS_Store

*.local

# Editor directories and files
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

# Folders
logs
dist
.idea
dist-ssr
coverage
.vscode/*
node_modules
/cypress/videos/
/cypress/screenshots/