# Logs
*.log
*.local
.DS_Store

# Editor directories and files
*.suo
*.sln
*.sw?
*.css*
*.ntvs*
*.njsproj
*.tsbuildinfo
*.css.map
!.vscode/extensions.json

# Folders
logs
dist
.idea

dist-ssr
coverage
.vscode/*
node_modules
/cypress/videos/
/cypress/screenshots/
