//  Sass main file

@import fonts, flexbox, grid-container
@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css)
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css)
*
    box-sizing: border-box
    writing-mode: horizontal-tb
    
body
    font-size: 1em
    @extend roboto-font

    h2
        @extend work-sans-heading
    
    button
        padding: 1em
        @extend roboto-font

main
    margin-block: 1em
    padding-block: 4em

header
    div
        inline-size: 100%

button
    cursor: pointer

.nav-item
    margin-inline-start: .9em

.logo-container
    inline-size: 10vw
    margin-inline-end: .9em

    :nth-child(1)
        justify-content: flex-start

article
    inline-size: 100%
    align-items: center
    text-align: justify
    align-content: center

    .news-article
        h3
            font-size: 0.885em
            font-weight: bold
        
        p
            font-size: 0.8em

    img.banner-image
        inline-size: 12em
        block-size: 10em

        
            
    img.article-image
        block-size: 21em
        inline-size: 25em

article.news-banner
        margin-block: 1em
        inline-size: 38.1em

section
    inline-size: 100%
    margin-block: 1em

    .article-container
        inline-size: 26em


    .news-container
        inline-size: 37em

    .about-us
        inline-size: 50%
    .contact
        inline-size: 18em
        margin-inline-start: 2em


.banner
    padding: 1em
    border: 1px solid black

.card
    inline-size: 18em

.is-31
    inline-size: 31vw

.is-60
    inline-size: 37em
.is-100
    inline-size: 100%

.relative
    position: relative
    bottom: 21em

.carousel-inner
    inline-size: 45em