//  Sass main file

@import fonts, flexbox

body
    font-size: 1em
    @extend roboto-font

    h2
        @extend work-sans-heading
    
    button
        padding: 1em
        @extend roboto-font

main
    margin-block: 1em
    padding-block: 4em

header
    div
        inline-size: 100%

button
    cursor: pointer

.nav-item
    margin-inline-start: .9em

.logo-container
    inline-size: 10vw
    margin-inline-end: .9em

    :nth-child(1)
        justify-content: flex-start

article
    display: flex
    flex-direction: column
    align-content: center
    flex-wrap: wrap
    align-items: center
    inline-size: 50vw
    text-align: justify


.banner
    padding: 1em
    border: 1px solid black

img.banner-image
    inline-size: 10vw

.is-31
    inline-size: 31vw

.is-60
    inline-size: 37em
.is-100
    inline-size: 100%

article.news-banner
        margin-block: 2em

.relative
    position: relative
    bottom: 21em

figure
    figcaption
        position: relative
        bottom: 3.3em

        left: 0
        right: 0
        background-color: rgba(0, 0, 0, .5)
        color: white
        padding: 1em

    .carosel-caption
        text-align: center