# Logs
*.log
*.local
*.DS_Store
*.env.development
*.env.production
# Editor directories and files
*.suo
*.sln
*.sw?
*.ntvs*
*.njsproj
*.tsbuildinfo

# Frontend Directories
frontend/dist/
/cypress/videos/
/cypress/screenshots/
frontend/node_modules/
frontend/package-lock.json

