# Logs
*.log
*.local
*.DS_Store
*.env

# Editor directories and files
*.suo
*.sln
*.sw?
*.css*
*.ntvs*
*.njsproj
*.tsbuildinfo

# Folders
dist/
logs
.idea
dist-ssr
coverage
node_modules
frontend/dist

/cypress/videos/
/cypress/screenshots/
