@use '../utils/mixins' as mix
@use '../colors/colors' as color

@forward '../utils/grid'

article.news-card

    header
        span.article-date
            display: block
            font-size: 0.9em
            text-align: center

        .article-section
            h2
                text-align: center
                margin-block-end: .1em
                color: color.$Groovy-brown

            p
                font-size: 1em
                @include mix.media-queries($breakpoint: 'M')
                    text-align: justify
                    padding-inline: 1em

            margin-block: 0

    &:nth-child(odd)
        margin-block: 1em
        padding-block-end: 1em
        @include mix.background-color(color.$soft-white, color.$Groovy-brown)

    &:nth-child(even)
        @include mix.background-color(color.$soft-white, color.$Groovy-brown)
    
    padding: 1em
    margin-block: 0.5em
    border-radius: 0.5em
    max-inline-size: 27em
    @include mix.media-queries($breakpoint: 'M')
    box-shadow: 12px 13px 47px 17px rgba(89, 61, 43, 0.2)


article

    header
        section.article-ingress, .article-section-content
            margin-block: 0.5em

        section.article-ingress
            max-inline-size: 37em

        section.article-section-content
            max-inline-size: 52em

            p
                @include mix.media-queries($breakpoint: 'M')
                    font-size: 1.3em
                    text-align: justify

            margin-block: 1em

    main
        section
            .article-section
                margin-inline: auto
                margin-block: .5em

                h2, h3, h4
                    font-weight: bold

            .article-section-content
                max-inline-size: 55em

                p
                    @include mix.media-queries($breakpoint: 'M')
                        font-size: 1.3em
                        text-align: justify

                    margin-block: 1em
                
                li
                    font-size: 1.2em

            margin-block: 1em

        aside
            .cta-section
                .cta-section-content
                    h4
                        @include mix.media-queries($breakpoint: '3XL')
                            font-size: 1.2em
                        
                        padding-block: 0
                        font-weight: bold
                        padding-inline: 0

                    span
                        max-inline-size: 19em

                    .media-content
                        padding: 0

                .media-link
                    .icon::before
                        padding: 0.2em

                padding: 1em

        padding: 1em
        margin: 0 auto
        inline-size: 100%
        @include mix.background-color(color.$Groovy-brown,color.$antique-soft)
        @include mix.link-color(color.$Groovy-yellow, color.$Groovy-green, color.$Groovy-green, color.$Groovy-yellow)

