@use '../utils/mixins' as mix
@use '../colors/colors' as color

.member-container
    margin: auto
    max-inline-size: 100%
    @include mix.link-color(color.$Groovy-orange, color.$Groovy-yellow)
    @include mix.background-color(color.$soft-white, color.$Groovy-brown)

    ul.member-list
        padding: 0
        max-inline-size: 45em

        li.list-item
            list-style: none