.partner-container
    margin: auto
    max-inline-size: 59em

    .partner-img
        inline-size: 10em
        margin-inline: 1em

        img
            inline-size: 100%
            object-fit: cover
