@use 'colors/colors' as color

.border-left
    min-height: 50px
    position: relative

.nav-link
    transition: 0.4s
    padding: 0.5em 1.5em
    text-decoration: none

.router-link-exact-active
    font-weight: 600
    color: color.$Groovy-green !important

.router-link-exact-active:hover
    background: transparent

.component-theme
    border-radius: 0


