//  Miscellaneous SASS mixins and themes
@use 'sass:map'
@use './utils/mixins' as mix
@use './colors/colors' as color

.component-theme
    padding-block: 1em
    @include mix.component-theme(color.$Groovy-brown, color.$antique-soft, color.$Groovy-yellow, color.$Groovy-green)

.section-theme
    @include mix.background-color(color.$antique-soft, color.$Groovy-brown)
    @include mix.link-color(color.$Groovy-orange)

#app
    margin: 0 auto
    font-weight: normal
    
.nav-bar
    min-inline-size: 10em
    max-inline-size: 100%
    padding-block: 3em 3em

    ul.nav-list
        padding: 0
        max-inline-size: 100%

        @include mix.media-queries($breakpoint: 'M')
            padding-inline-start: 1em

    .nav-item
        list-style: none
        max-inline-size: 13em
        margin-inline-end: 1em

.logo-container

    ul
        padding: 0
        @include mix.media-queries($breakpoint: 'M')
            padding-inline-start: 1em
    li
        list-style: none
        max-inline-size: 15em

    .logo-img
        max-inline-size: 100%


.icon
    font-size: 1em
    display: inline-block

    &::before
        padding: 0.5em

.relative
    position: relative

.absolute
    position: absolute

@include mix.tag-generator()
@include mix.icon-generator()
