@use '../utils/mixins' as mix
@use '../colors/colors' as color

button
    cursor: pointer

    &:disabled
        opacity: 0.3
        cursor: not-allowed

.read-more, 
.orange-btn, 
input[type="submit"], input[type="reset"]
    @include mix.base-btn(color.$Groovy-brown)
    @include mix.background-color(color.$Groovy-orange, color.$soft-white)
    

.white-btn
    @include mix.base-btn(color.$Groovy-brown)
    @include mix.background-color(color.$soft-white, color.$Groovy-brown)

