@use '../utils/mixins' as mix
@use '../colors/colors' as color

button
    cursor: pointer

    &:disabled
        opacity: 0.3
        cursor: not-allowed

.read-more, .orange-btn, input[type="submit"], input[type="reset"]
    @include mix.generate-btn(color.$Groovy-orange, color.$soft-white,  color.$Groovy-brown)

.white-btn
    @include mix.generate-btn(color.$soft-white, color.$Groovy-orange)

