//  Miscellaneous SASS mixins and themes
@use 'sass:map'
@use './utils/mixins' as mix
@use './utils/colors' as color
@use './utils/mapping' as mapping
@use './utils/functions' as functions

.component-theme
    @include mix.light-component-theme(color.$Groovy-brown)

.section-theme
    @include mix.background-color(color.$antique-soft, color.$Groovy-brown, color.$Groovy-orange)    

#app
    margin: 0 auto
    font-weight: normal
.section-content
    max-inline-size: 49em

    p
        font-size: 1.2em
        line-height: 1.5em
        text-align: justify
.logo-container
    padding-inline-end: 3em
.icon
    font-size: 1em
    display: inline-block
    font-family: "Bootstrap-icons"
    
.nav-bar
    max-inline-size: 100%

    .nav-list
        inline-size: 100%

    .nav-item
        list-style: none
        inline-size: 13em

.logo-img
    inline-size: 15em
@each $icon-type, $props in mapping.$icon-types

    $file-style: functions.icon-types($icon-type)

    .#{$icon-type}
        .icon
            
            content: map.get($file-style, icon)
            color: map.get($file-style, text-color)

            &::before
                padding: 0.5em
                content: map.get($file-style, icon)

@each $tags, $props in mapping.$tags

    $tag-style: functions.tags($tags)

    span.tags
        font-size: .7em
        font-weight: bold

        .#{$tags}
            padding: .5em .5em
            margin-inline: 1em
            border-radius: .5em
            text-decoration: none
            display: inline-block
            @include mix.background-color(map.get($tag-style, bg-color), map.get($tag-style, txt-color), map.get($tag-style, link-color))
