@use '../utils/colors' as color
@use '../utils/mixins' as mix

article.news-card
    margin-block: 1em
    border-radius: 0.5em
    padding-inline: 1.5em
    max-inline-size: 29em
    box-shadow: 0 0 10px rgba(color.$Groovy-brown, .2)

    header
        span.article-date
            display: block
            font-size: 0.7em

        .article-head-content
            margin: auto

            h2.article-title-h2
                font-size: .9em
                margin-block-end: .1em
                color: color.$Groovy-brown

            p.article-ingress
                font-size: 0.7em
                text-align: justify
                margin-block: 0.5em
                inline-size: 100% !important

    &:nth-child(odd)
        @include mix.background-color(color.$soft-white, color.$Groovy-brown, color.$antique-soft)

    &:nth-child(even)
        @include mix.background-color(color.$soft-white, color.$Groovy-brown, color.$antique-soft)
article
    main
        padding: 1em
        margin: 0 auto
        min-block-size: 0
        inline-size: 100%
        text-align: justify

    img
        inline-size: 100%
        border-radius: 0.5em

    figure.article-figure, .content-figure
        margin: .5em auto
        inline-size: 100%

        figcaption
            font-size: 0.8em
            font-style: italic
            text-align: center
            color: color.$Groovy-brown

    section
        .article-section
            margin: 0

        .article-ingress, .article-section-content
            margin: auto
            inline-size: 38em

            p
                margin-block: 1em

            p.text
               font-size: 1.3em


    &:nth-child(odd)
        @include mix.background-color(color.$antique-soft, color.$Groovy-brown, color.$soft-white)

    &:nth-child(even)
        @include mix.background-color(color.$soft-white, color.$Groovy-brown, color.$antique-soft)
.content
    margin: 0 auto
    inline-size: 37em
    text-align: justify