@use '../utils/mixins'

article.news-card
    padding: 1.5em
    inline-size: 25em
    text-align: center
    border-radius: 0.5em
    @include background-color($soft-white, $Groovy-brown, $Groovy-orange)

    img.article-img
        inline-size: 100%
        border-radius: 0.5em

    span.article-date
        display: block
        font-size: 0.88em

    h2.article-title-h2
        font-weight: bold
        text-align: center
        margin-block: .5em
        color: $Groovy-brown     

article
    
    main
        padding: 1em
        margin: 0 auto
        min-block-size: 0
        inline-size: 100%
        text-align: justify
  
    footer
        span.tag
            font-size: 0.8em
            font-weight: bold

        .read-more
            display: block
            font-weight: bold
        span
            @import '../main/span.sass'

    img
        inline-size: 100%
        border-radius: 0.5em

    figure.article-figure
        inline-size: 35em      

        figcaption

            font-size: 0.8em
            font-style: italic
            text-align: center
            color: $Groovy-brown
    section
        .ingress
            inline-size: 39em

            p
                margin-block: 1em

            p.text
               font-size: 1.3em
            
        button.read-more
            display: inline-block
            margin-block: 1em
            padding: 0.5em 1em
            font-weight: bold
            text-decoration: none
            color: $Groovy-orange
            background-color: $soft-white
            border-radius: 0.5em
            border: 1px solid $Groovy-brown

.content
    margin: 0 auto
    inline-size: 37em
    text-align: justify