@use '../utils/colors' as color
@use '../utils/mixins' as mix

article.news-card
    padding: 1.5em
    inline-size: 28em
    text-align: center
    border-radius: 0.5em
    @include mix.background-color(color.$soft-white, color.$Groovy-brown, color.$Groovy-orange)

    img.article-img
        inline-size: 100%
        border-radius: 0.5em

    span.article-date
        display: block
        font-size: 0.88em

    h2.article-title-h2
        font-weight: bold
        text-align: center
        margin-block: .5em
        color: color.$Groovy-brown

article
    
    main
        padding: 1em
        margin: 0 auto
        min-block-size: 0
        inline-size: 100%
        text-align: justify

    button.read-more
        display: inline-block
        margin-block: 1em
        padding: 0.5em 1em
        font-weight: bold
        text-decoration: none
        border-radius: 0.5em
        color: color.$Groovy-orange
        background-color: color.$soft-white
        border: 1px solid color.$Groovy-brown
        @include mix.background-color(color.$Groovy-orange, color.$soft-white)

        a
            text-decoration: none
    img
        inline-size: 100%
        border-radius: 0.5em

    figure.article-figure
        inline-size: 100%      

        figcaption

            font-size: 0.8em
            font-style: italic
            text-align: center
            color: color.$Groovy-brown

    section
        .ingress
            margin: auto
            inline-size: 38em

            p
                margin-block: 1em

            p.text
               font-size: 1.3em

    &:nth-child(odd)
        background-color: color.$antique-soft

    &:nth-child(even)
        background-color: color.$soft-white

.content
    margin: 0 auto
    inline-size: 37em
    text-align: justify