@use '../utils/colors' as color
@use '../utils/mixins' as mix


.media-container
    inline-size: 100%

    .connections-h2
        inline-size: calc(100% - 24em)

    .media-text
        display: block
        font-size: 0.999em

    .media-content
        text-align: center
        padding-inline: 2em
        &:nth-last-child(2)
            padding-block-end: 2em
            
    h2, h3
        padding-inline: 0
        padding-block: 0.5em

.partner-container
    inline-size: 39em

    .partner-img
        inline-size: 10em

        img
            inline-size: 100%
            object-fit: cover

.card-container
    inline-size: 100%

    .card-content
        padding: 2em 1em
        inline-size: 26em
        text-align: center

        img
            inline-size: 100%
    
    .card-data
        text-align: center
        padding-block: .5em

    .organization-h2
        inline-size: calc(100% - 10.11em)

        &:nth-child(3)
            inline-size: calc(100% - 12.6em)
.organization-h2
        inline-size: calc(100% - 21.11em)

.p-content
    text-align: justify
    max-inline-size: 31em
    @include mix.font(1.3em, 'Inter, sans-serif')

.member-container

    @include mix.background-color(color.$soft-white, color.$Groovy-brown, color.$Groovy-orange)
