@use '../utils/mixins'

.media-container
    .media-text
        display: block
        font-size: 0.999em

    .media-content
        text-align: center
        padding-inline: 2em
        &:nth-last-child(2)
            padding-block-end: 2em
            
    h2, h3
        padding-inline: 0
        padding-block: 0.5em

.partner-container
    inline-size: 39em

    .partner-img
        inline-size: 10em

        img
            inline-size: 100%
            object-fit: cover

div.card-container
    padding: 2em 1em
    inline-size: 26em
    text-align: center
        
    img
        inline-size: 100%
    
    .card-data
        text-align: center
        padding-block: .5em


.h2
    text-align: center

.member-container
    @mixins.background-color($soft-white, $Groovy-brown, $Groovy-orange)
