@import '../mixins.sass'

main
    section
        display: block
        margin-block: 5em


        div.media-container
            inline-size: 20em
            text-align: center
            margin-inline: 1em

        .partner-logo
            inline-size: 20em

        .partner-logo img
            inline-size: 100%
            object-fit: cover

        .contact-card
            padding: 1em
            inline-size: 26em
            color: $white-soft
            background-color: $Groovy-brown
            @include link-color($Groovy-yellow)
            
            
        
        img
            inline-size: 100%