@import '../mixins'

main
    section
        display: block
        margin-block: 2em

        div
            margin-block: 1em

        .media-container
            .media-text
                display: block
                font-size: 0.999em

            .media-content
                inline-size: 26em
                text-align: center
                padding-block: 2em

            h2, h3
                padding-inline: 0
                padding-block: 0.5em

        .partner-container
            gap: 5em

        .partner-logo
            inline-size: 20em

        .partner-logo img
            inline-size: 100%
            object-fit: cover

        div.card-container
            padding: 1em
            inline-size: 26em
            text-align: center

            img
                inline-size: 100%

            .card-data
                text-align: center
                padding-inline: .5em
                
            
