@use 'sass:map';
@use 'sass:color';
@use './mapping.scss' as *;

@function icon-types($type)
{
    $icon: map.get($icon-types, $type);

    @if not $icon
    { 
        @error ' Icon for "#{type}" was not found ! Using the standard';
        $icon: map.get($icon-types, "default");
    }
    @return map.merge($icon, (
        color: map.get($icon-types, txt-color)
    ));
}

@function tags($tag)
{
    $tag-info: map.get($tags, $tag);

    @if not $tag-info
    { 
        @error ' Tag for "#{tag}" was not found ! Using the standard';
        $tag-info: map.get($tags, "other-tag");
    }
    @return map.merge($tag-info, (
        color: map.get($tags, txt-color)
    ));
}