//  Miscellaneous SASS mixins and themes
@use 'sass:map'
@use './utils/mapping'
@use './utils/functions'
@import './utils/colors', './utils/mixins'

.component-theme
    @include light-component-theme($Groovy-brown)

.section-theme
    @include background-color($antique-soft, $Groovy-brown, $Groovy-orange)

#app
    margin: 0 auto
    font-weight: normal

.icon
    font-size: 1em
    display: inline-block
    font-family: "Bootstrap-icons"

@each $icon-type, $props in mapping.$icon-types

    $file-style: functions.icon-types($icon-type)

    .#{$icon-type}
        .icon
            color: map.get($file-style, txt-color) !important
            content: map.get($file-style, icon)

            &::before
                padding: 0.5em
                content: map.get($file-style, icon)

            &:hover
                color: map.get($file-style, hover-color) !important


