@use 'sass:map';
@use 'sass:color';
@use './mapping.scss' as *;

@function file-icons($file)
{
    $icon: map.get($file-types, $file);

    @if not $icon
    { 
        $icon: map.get($file-types, "default");
        @warn ' Icon for "#{icon}" was not found ! Using the standard';
    }

    @return map.merge($icon, (
        color: map.get($file-types, txt-color)
    ));
}