@import'./mixins.sass'
@import './colors.sass'

header
    line-height: 1.5
    max-height: 100vh

    .logo-container
        inline-size: 15em

    nav
        font-size: 1em
        inline-size: 100%
        text-align: center
        padding-block: 5em
        @include link-color($Groovy-orange)

        .nav-link
            transition: 0.4s
            text-decoration: none
            border-left: 1px solid var($divider-light-2)
        ::first-of-type
            border-left: none

        .router-link-exact-active
            font-weight: 600
            color: $Groovy-brown

        .router-link-exact-active:hover
            background: transparent

    .bg-color
        background-color: $Groovy-brown
        color: $Groovy-yellow