@import'./mixins.sass'
@import './colors.sass'

header
    line-height: 1.5
    max-height: 100vh
    //@include light-component-theme($Groovy-brown)

    .img-container
        inline-size: 15em

    nav
        font-size: 1em
        inline-size: 100%
        text-align: center
        padding-block: 3em 3em

        .border-left
            min-height: 50px
            position: relative

        .nav-link
            transition: 0.4s
            padding: 0.5em 1.5em
            text-decoration: none

        .router-link-exact-active
            font-weight: 600
            color: $Groovy-green !important

        .router-link-exact-active:hover
            background: transparent
