
//  Importing Sass files for the main styles
@import './main.sass', './colors.sass', './mixins.sass'
@import './header.sass', './footer.sass', './flexbox.sass'
@import './media-queries/mediaIndex.sass'
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css")

#app
    padding: 2rem
    margin: 0 auto
    max-width: 1280px
    font-weight: normal

*, *::before,
*::after
    margin: 0   
    font-weight: normal
    box-sizing: border-box
    writing-mode: horizontal-tb

$section-gap: 160px

body
    font-size: 1em
    line-height: 1.6
    min-height: 100vh
    -moz-osx-font-smoothing: grayscale
    text-rendering: optimizeLegibility
    -webkit-font-smoothing: antialiased
    transition: color 0.5s, background-color 0.5s
    font-family: 'Nunito', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
    @include apply-theme-colors( $white, $white-soft, $white-mute, $divider-light-2, $divider-light-1,$text-light-1, $text-light-1)

