
//  Importing Sass files for the main styles    padding: 1em
@use './misc'
@use './flexbox'
@use './utils/colors'
@use './utils/mixins'
@use './main/_article.sass'
@use './media-queries/mediaIndex'

@use './footer.sass'
@use './main/article.sass'
@use './main/section.sass'

@import '../../../node_modules/bootstrap/scss/bootstrap'

*, *::before,
*::after    
    margin: 0   
    font-weight: normal
    box-sizing: border-box
    writing-mode: horizontal-tb

body
    font-size: 1em
    line-height: 1.6
    min-height: 100vh
    -moz-osx-font-smoothing: grayscale
    text-rendering: optimizeLegibility
    -webkit-font-smoothing: antialiased
    transition: color 0.5s, background-color 0.5s
    font-family: 'Nunito', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
    
    @mixins.apply-theme-colors( $antique-white, $Groovy-orange, $Groovy-brown)

header
    nav
        inline-size: 55em
        text-align: center
        padding-block: 3em 3em

    @import './header.sass'

main
    margin-block: 5em
    min-block-size: 38vh

    

    section
        display: block
        margin-block: 2em

        div
            margin-block: 1em

footer, header
    .component-theme
        border-radius: 0
        padding: 2em

table
    td, th
        padding: 0.5em 2em
        text-align: center
        vertical-align: middle

nav
    font-size: 1em