@import './colors.sass'

@mixin apply-theme-colors( $background, $background-soft, $background-mute, $border, $border-hover, $heading-color, $text-color)
    $color-border: $border
    $color-text: $text-color
    $color-heading: $heading-color
    $color-background: $background
    $color-border-hover: $border-hover
    $color-background-soft: $background-soft
    $color-background-mute: $background-mute

    body
        color: $color-text
        background: $color-background

@mixin link-color($color)

    $color-hover: rgba($color, 0.8)
    $color-active: rgba($color, 0.6)
    $color-visited: rgba($color, 0.5)

    @if $color == $Groovy-yellow
        $color-hover: rgba($Groovy-orange, 0.3)
        $color-active: rgba($Groovy-green, 0.3)
        //$color-visited: rgba($Groovy-green, 0.3)

    a
        color: rgba($color, 1)
        font-size: 1.5em

    @media (hover: hover)

        a:hover
            background-color: $color-hover
        
    @media (active: active)

        a:active
            background-color: $color-active

    @media( visited: visited)

        a:visited
            background-color: $color-visited
