@import '../sass/colors.sass'

@mixin apply-theme-colors( $background, $background-soft, $background-mute, $border, $border-hover, $heading-color, $text-color)
    $color-border: $border
    $color-text: $text-color
    $color-heading: $heading-color
    $color-background: $background
    $color-border-hover: $border-hover
    $color-background-soft: $background-soft
    $color-background-mute: $background-mute

    body
        color: $color-text
        background: $color-background

@mixin link-color($color)
    $color-darken: rgba($color, 0.2)

    a
        color: $color
        font-size: 1.5em

    @media (hover: hover)

        a:hover
            background-color: $color-darken
